
<div class="container">
<div class="row">
<div class="offset-2 col-6">
<div class="card login shadow p-3 mb-5 bg-white rounded ">
<div class="card-body">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
<p class="h4 mb-4">Registeration</p>

  <div class="form-group">
    <label>First Name</label>
    <input type="firstName" class="form-control" formControlName="firstName" placeholder="firstName" [class.is-invalid]="submitted && firstName.invalid">
    <div *ngIf="firstName.touched && firstName.errors">
    <div *ngIf="firstName.errors.required" class="text-danger">firstName is required</div>
    </div>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="lastName" class="form-control" formControlName="lastName"  placeholder="lastName" [class.is-invalid]="submitted && lastName.invalid" >
        <div *ngIf="lastName.touched && lastName.errors">
        <div *ngIf="lastName.errors.required" class="text-danger">lastName is required</div>
    </div>
    </div>
    <div class="form-group">
        <label>User Name</label>
        <input type="userName" class="form-control" formControlName="userName"  placeholder="userName" [class.is-invalid]="submitted && userName.invalid" >
        <div *ngIf="userName.touched && userName.errors">
        <div *ngIf="userName.errors.required" class="text-danger">userName is required</div>
        <div *ngIf="userName.errors.minlength" class="text-danger">userName atleast 6 characters</div>
    </div>
    </div>
    <div class="form-group">
        <label>Mobile</label>
        <input type="phone" class="form-control" formControlName="mobile" placeholder="mobile" [class.is-invalid]="submitted && mobile.invalid" >
        <div *ngIf="mobile.touched && mobile.errors">
        <div *ngIf="mobile.errors.required" class="text-danger">mobile is required</div>
    </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="email" [class.is-invalid]="submitted && email.invalid" >
        <div *ngIf="email.touched && email.errors">
        <div *ngIf="email.errors.required" class="text-danger">email is required</div>
        <div *ngIf="email.errors.email" class="text-danger">Valid Email Address</div>
    </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <input type="password" class="form-control" formControlName="password" placeholder="password" [class.is-invalid]="submitted && password.invalid"  >
        <div *ngIf="password.touched && password.errors">
        <div *ngIf="password.errors.required" class="text-danger">password is required</div>
        <div *ngIf="password.errors.minlength" class="text-danger">Password Lengthe Contain Minimum 6</div>
    </div>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        
        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="confirmPassword" [class.is-invalid]="submitted && confirmPassword.invalid" >
        <div *ngIf="confirmPassword.touched && confirmPassword.errors">
        <div *ngIf="confirmPassword.errors.required" class="text-danger">Confirm Password Required</div>
        <div *ngIf="confirmPassword.errors.mustMatch" class="text-danger">Password DoesNot Match</div>
    </div>
    </div>
    <div class="form-group">
        <label>Type</label>
        <input type="role" class="form-control" formControlName="role" placeholder="role" [class.is-invalid]="submitted && role.invalid" >
        <div *ngIf="role.touched && role.errors"></div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary mr-1 align-right" >Register</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
        <a routerLink="/login" class="btn btn-link">Login to continue</a>
    </div>
</form>
</div>
</div>
</div>
</div>
</div>

