
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">

            <a class="nav-link" routerLink="home" routerLinkActive="is-active">Home</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a class="nav-link" routerLink="product-list" routerLinkActive="is-active">Products</a>
                    <a class="nav-link" routerLink="cart-details" routerLinkActive="is-active">Cart</a>
                    <a class="nav-link" routerLink="contact-us" routerLinkActive="is-active">Contact Us</a>
                    <a class="nav-link" routerLink="about-us" routerLinkActive="is-active">About Us</a>

                    
                </div>
                <form class="form-inline ml-auto">
                    <input type="text" class="form-control mr-sm-2" placeholder="Search">
                    <button type="submit" class="btn btn-outline-light">Search</button>
                </form>
            </div>
            <a class="nav-link" routerLink="login" routerLinkActive="is-active"><button class="btn btn-success btn-sm" type="button">
                <i class="fas fa-user"></i>Login</button></a>

        </nav>
